html body {
  margin: 0;
  background-color: #000;
  font-family: "Orbitron", sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #101010 inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}
button {
  font-family: "Orbitron", sans-serif;
}

h1,
h3 {
  color: #fff;
}
